html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font-family: "Onest", serif;
  background: #ffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #191816; }

a {
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s !important; }
  a:hover {
    color: #446fc9; }

.blue {
  color: #446fc9; }

.container {
  padding: 0 15px;
  max-width: 1469px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 540px; } }

.d-flex, .q {
  display: flex; }

.body-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  margin-top: auto; }

h1 {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  background: #446fc9;
  padding: 0 42px;
  height: 48px;
  border-radius: 66px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
  margin: 0; }

h2 {
  margin: 0;
  font-size: 54px;
  font-weight: 400;
  font-family: 'Lilita One Rus';
  line-height: 60px;
  letter-spacing: 0.13rem; }
  h2 span {
    color: #446fc9; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

.svg, rect, line, circle {
  transition: 0.5s ease; }

a {
  transition: color 0.5s ease;
  box-sizing: border-box; }

li a {
  transition: color 0.5s ease; }

button {
  cursor: pointer;
  box-sizing: border-box; }

textarea {
  transition: border 0.5s;
  box-sizing: border-box; }
  textarea:focus {
    transition: border 0.5s;
    outline: none;
    border: 1px solid #446fc9; }

input {
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid #fff; }
  input:disabled {
    pointer-events: none;
    opacity: 0.5; }
  input:focus {
    border: 1px solid #446fc9;
    transition: 0.5s; }
  input:focus-visible {
    outline: initial; }

path {
  transition: fill 0.5s, stroke 0.5s; }

div {
  box-sizing: border-box; }

.icon {
  transition: fill 0.5s, stroke 0.5s; }

html * {
  scrollbar-width: thin;
  scrollbar-color: blue #446fc9; }

.popup__bg {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; }

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 7px;
  width: 7px; }

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #E7E7E7;
  border-radius: 3px; }

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #446fc9;
  border-radius: 6px; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  box-sizing: border-box;
  width: 270px;
  height: 46px;
  border-radius: 12px;
  background: #eff0f5;
  color: #191816;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; }
  .btn:hover {
    background: #446fc9;
    color: white; }
  .btn_2 {
    background: #446fc9;
    color: white; }
    .btn_2:hover {
      background: #2c2c2c;
      color: white; }

@font-face {
  font-family: 'Lilita One Rus';
  src: url("../fonts/LilitaOneRus.eot");
  src: url("../fonts/LilitaOneRus.eot?#iefix") format("embedded-opentype"), url("../fonts/LilitaOneRus.woff2") format("woff2"), url("../fonts/LilitaOneRus.woff") format("woff"), url("../fonts/LilitaOneRus.ttf") format("truetype"), url("../fonts/LilitaOneRus.svg#LilitaOneRus") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

input::-webkit-input-placeholder {
  color: #666666 !important; }

input::-moz-placeholder {
  color: #666666 !important; }

input:-ms-input-placeholder {
  color: #666666 !important; }

input:-moz-placeholder {
  color: #666666 !important; }

.menu-btn, .menu {
  display: none; }

.menu-btn, .menu {
  display: none; }

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #494949;
  cursor: pointer; }
  .custom-checkbox + label:hover:before {
    border: 1px solid #446fc9; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  display: flex;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
  background: #FFFFFF;
  flex: 1 0 auto;
  transition: 0.2s;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  max-width: 20px;
  margin-right: 11px; }

.custom-checkbox:checked + label::before {
  background: url(../img/check2.png) no-repeat center center;
  background-size: 8px; }

.swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 19px;
  position: absolute;
  z-index: 2; }

.swiper-pagination-bullet {
  width: 181px;
  height: 6px;
  border-radius: 8px;
  background: #ebebeb;
  margin: 0 3px !important;
  opacity: 1; }

.pag {
  display: flex;
  justify-content: center;
  position: relative; }

.swiper-pagination-bullet-active {
  background-color: #446fc9 !important;
  opacity: 1; }

.tabs__pane {
  display: none; }

.tabs__pane_show {
  display: block; }

.tabs__btn_active {
  color: #20252d !important;
  position: relative; }

.swiper-button-next, .swiper-button-prev {
  z-index: 9; }

.mob {
  display: none; }

/* SELECT */
.selectCF {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: max-content;
  height: auto;
  background: transparent; }

.selectCF li {
  list-style: none;
  cursor: pointer;
  perspective: 900px;
  -webkit-perspective: 900px;
  text-align: left;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box; }

.selectCF > li {
  position: relative;
  border: none; }

.selectCF span {
  display: flex;
  height: auto;
  line-height: 100%;
  color: #888888;
  z-index: 1;
  align-items: center; }

.selectCF .arrowCF {
  transition: .3s;
  -webkit-transition: .3s;
  width: 7px;
  height: 5px;
  text-align: center;
  vertical-align: top;
  background: url(../img/down-arrow.png) no-repeat !important;
  position: absolute;
  right: -16px;
  top: 8px; }

.selectCF .titleCF {
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #000000 !important;
  white-space: nowrap;
  width: max-content !important;
  height: max-content !important;
  box-sizing: border-box;
  background: transparent !important; }

.selectCF .searchCF {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: -1; }

@keyframes searchActive {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }

@-moz-keyframes searchActive {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }

@-webkit-keyframes searchActive {
  from {
    -webkit-transform: rotateY(180deg); }
  to {
    -webkit-transform: rotateY(0deg); } }

.searchActive .searchCF {
  z-index: 1;
  animation: searchActive 0.3s alternate 1;
  -moz-animation: searchActive 0.3s alternate 1;
  -webkit-animation: searchActive 0.3s alternate 1; }

.searchActive .titleCF {
  opacity: 0; }

.selectCF .searchCF input {
  border: none !important;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background: transparent; }

.selectCF .searchCF input:active, .selectCF .searchCF input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important; }

.selectCF li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 1px;
  width: 100%;
  background: grey;
  max-height: 255px;
  overflow-y: auto;
  transition: .2s;
  -webkit-transition: .2s;
  z-index: 2;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-top: none; }

.selectCF li ul li {
  padding: 9px 0 9px 10px;
  transition: .2s;
  -webkit-transition: .2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: none;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFF; }
  .selectCF li ul li:last-child {
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px; }
  .selectCF li ul li:hover {
    color: #446fc9; }

.onCF .arrowCF {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

@-moz-keyframes effect1 {
  from {
    transform: translateY(15px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: s1; } }

@-webkit-keyframes effect1 {
  from {
    -webkit-transform: translateY(15px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    opacity: 1; } }

.onCF li ul {
  display: block;
  position: absolute;
  -moz-animation: effect1 0.3s alternate 1;
  -webkit-animation: effect1 0.3s alternate 1;
  left: -6.55px;
  top: 22px;
  border-radius: 0 0 4px 4px;
  width: 100%;
  min-width: max-content;
  padding-right: 10px; }

ul.info li, #event-change {
  color: #FFF; }

ul.info {
  padding: 0;
  display: none; }

ul.info li {
  display: inline-block;
  border-radius: 5px;
  padding: 0 5px; }

.nav {
  padding: 43px 0; }
  .nav__box {
    align-items: center;
    justify-content: space-between; }
  .nav__logo {
    display: block; }
    .nav__logo img {
      width: 100%;
      object-fit: contain; }
  .nav__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start; }
    .nav__list li {
      margin-right: 32px; }
      .nav__list li:last-child {
        margin-right: 0; }
      .nav__list li a {
        color: #8f93a3;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px; }
      .nav__list li:hover a {
        color: #446fc9; }
  .nav__socials {
    display: flex; }
    .nav__socials a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 8px;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      border: 1px solid #eff0f5;
      border-radius: 8px;
      background: #eff0f5; }
      .nav__socials a:hover {
        background: #446fc9; }
        .nav__socials a:hover .svg path {
          fill: white; }
      .nav__socials a:last-child {
        margin-right: 0; }
  .nav__mail, .nav__tel {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; }
    .nav__mail:hover, .nav__tel:hover {
      color: #446fc9; }

.header {
  position: relative;
  padding-bottom: 75px; }
  .header__fig {
    position: absolute;
    top: 0;
    z-index: -1; }
    .header__fig_1 {
      left: initial;
      right: 55px;
      top: 202px; }
    .header__fig_2 {
      left: initial;
      right: 62px;
      top: 623px; }
    .header__fig_3 {
      left: 107px;
      top: 347px; }
    .header__fig_4 {
      left: 63px;
      top: 547px; }
  .header__wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 32px;
    position: relative;
    border-radius: 32px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #8D25CC, #328EE3) border-box;
    border: 4px solid transparent;
    padding: 50px 45px; }
    .header__wrap img {
      position: absolute;
      bottom: 0;
      right: 0; }
    .header__wrap h1 {
      margin-bottom: 31px; }
    .header__wrap ul li {
      font-size: 16px;
      margin-bottom: 0px; }
      .header__wrap ul li span {
        color: #446fc9;
        margin-right: 5px; }
  .header__text {
    width: 100%;
    max-width: 705px;
    margin-bottom: 30px;
    color: #191816;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px; }
  .header__name {
    margin-bottom: 11px;
    color: #191816;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; }
  .header__btn {
    margin-top: 25px; }

.youtube-link .svg, .youtube-link path {
  transition: 0.5s; }

.grtvideo-popup {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  padding-top: 100px; }

.grtvideo-popup-content {
  margin-top: 50px;
  width: 95%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4);
  position: relative; }

.grtvideo-popup-close {
  position: absolute;
  top: -35px;
  right: 0;
  color: #FFF;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s; }
  .grtvideo-popup-close:hover {
    transform: rotate(90deg); }

.grtyoutube-iframe {
  width: 100%;
  height: 480px; }

.main {
  padding: 75px 0;
  position: relative; }
  .main .swiper1 {
    overflow: hidden;
    width: 82%;
    margin: 0 auto; }
    .main .swiper1 .swiper-slide {
      width: 100%; }
      .main .swiper1 .swiper-slide iframe {
        width: 100%; }
      .main .swiper1 .swiper-slide a {
        text-align: center;
        margin: 28px auto 39px;
        color: #7c8092;
        font-size: 18px;
        font-weight: 400;
        display: block;
        line-height: 22px; }
        .main .swiper1 .swiper-slide a:hover {
          color: #446fc9; }
      .main .swiper1 .swiper-slide:hover .main__play {
        opacity: 0.8; }
  .main__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; }
  .main__video {
    height: 746px;
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
    position: relative;
    cursor: pointer;
    display: flex; }
    .main__video:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: 1; }
  .main__play {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    z-index: 2;
    height: 72px;
    margin-top: -36px;
    margin-left: -36px; }
  .main .header__fig_3 {
    left: 52px;
    top: 326px; }
  .main .header__fig_4 {
    left: 72px;
    top: 868px; }
  .main .header__fig_2 {
    left: initial;
    right: 0;
    top: 312px; }

.van {
  padding: 75px 0;
  position: relative; }
  .van__box {
    justify-content: space-between; }
  .van__item {
    width: 32.5%;
    height: 418px;
    box-sizing: border-box;
    border: 4px solid #446fc9;
    overflow: hidden;
    border-radius: 20px; }
    .van__item ul {
      margin: 38px 58px 0 67px; }
      .van__item ul li {
        color: #191816;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        display: flex;
        margin-bottom: 10px;
        align-items: flex-start; }
        .van__item ul li:before {
          content: "";
          display: inline-flex;
          background: #191816;
          width: 3px;
          height: 3px;
          flex: 1 0 auto;
          max-width: 3px;
          margin-right: 10px;
          border-radius: 50%;
          position: relative;
          top: 11px; }
  .van__top {
    padding: 28px 0;
    text-align: center;
    background: #446fc9;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    position: relative;
    width: 100%;
    border-radius: 0; }
  .van h2 {
    text-align: center;
    margin-bottom: 48px; }
  .van .header__fig_3 {
    left: -48px;
    top: 215px; }
  .van .header__fig_4 {
    left: 138px;
    top: 509px; }
  .van .header__fig_1 {
    left: initial;
    right: 2px;
    top: 112px; }

.order {
  position: relative;
  padding: 30px 0; }
  .order__bg {
    position: absolute;
    width: 100%;
    height: 655px;
    object-fit: cover;
    z-index: -1; }
  .order__wrap {
    width: 100%;
    max-width: 1196px;
    margin: 153px auto;
    padding: 50px;
    overflow: hidden;
    border-radius: 32px;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .order__content {
    width: 100%;
    max-width: 410px; }
    .order__content p {
      color: #7c8092;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin-top: 34px; }
    .order__content h2 {
      line-height: 94%; }
  .order__form {
    width: 100%;
    max-width: 520px; }
    .order__form input {
      height: 56px;
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      background: whitesmoke;
      padding-left: 18px;
      margin-bottom: 16px;
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      width: 48.5%; }
      .order__form input:hover {
        border: 1px solid #446fc9; }
      .order__form input:first-child {
        width: 100%; }
    .order__form textarea {
      min-height: 132px;
      max-width: 100%;
      padding-top: 10px;
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      background: whitesmoke;
      padding-left: 18px;
      margin-bottom: 16px;
      color: #666666;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      width: 100%; }
      .order__form textarea:hover {
        border: 1px solid #446fc9; }
    .order__form button {
      width: 160.13px;
      height: 56px;
      border-radius: 32px;
      margin: 16px 0;
      border: 1px solid #446fc9;
      background: #446fc9; }
      .order__form button:hover {
        border: 1px solid black; }
  .order__flex {
    justify-content: space-between;
    flex-wrap: wrap; }
  .order__info {
    color: #7c8092;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; }
    .order__info a {
      color: #7c8092;
      border-bottom: 1px solid #7c8092; }
      .order__info a:hover {
        color: #446fc9;
        border-bottom: 1px solid #446fc9; }

label.error {
  display: none !important; }

input.error, textarea.error {
  border: 1px solid red; }

.what {
  padding: 77px 0;
  position: relative; }
  .what__wrap {
    width: 100%;
    padding: 20px 20px 20px 48px;
    border-radius: 32px;
    background: #f4f5fa;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .what__wrap img {
      object-fit: cover;
      width: 447px;
      height: 100%;
      border-radius: 32px;
      overflow: hidden; }
  .what__content {
    width: 100%;
    max-width: 845px;
    margin-top: 33px; }
    .what__content p {
      margin: 32px 0 23px;
      color: #191816;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px; }
  .what .header__fig_1 {
    right: 71px;
    top: -8px; }
  .what .header__fig_2 {
    left: initial;
    right: 86px;
    top: 238px; }
  .what .header__fig_3 {
    left: 61px;
    top: 22px; }
  .what .header__fig_4 {
    left: 87px;
    top: 468px; }

.area {
  padding: 75px 0;
  position: relative; }
  .area h2 {
    margin-bottom: 100px;
    text-align: center; }
  .area__row {
    max-width: 1234px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between; }
  .area__item {
    width: 28%;
    text-align: center; }
  .area__sum {
    display: block;
    border-bottom: 1px solid #dadada;
    padding-bottom: 50px;
    font-size: 70px;
    font-weight: 700;
    line-height: 26px; }
    .area__sum span {
      color: #446fc9;
      margin-left: -18px;
      display: inline-block; }
  .area__text {
    margin-top: 28px;
    color: #191816;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px; }
  .area .header__fig_3 {
    left: 0;
    top: 22px; }

.rev {
  position: relative;
  padding: 75px 0; }
  .rev h2 {
    text-align: center;
    margin-bottom: 51px; }
  .rev .swiper2 {
    min-height: 520px; }
    .rev .swiper2 .swiper-slide {
      overflow: hidden;
      transition: 0s;
      height: auto;
      border-radius: 32px;
      background: #f4f5fa;
      padding: 30px 25px;
      max-width: 345px; }
    .rev .swiper2 .swiper-slide-prev {
      box-sizing: border-box;
      border: 4px solid #446fc9;
      border-radius: 32px;
      background: white;
      padding: 40px;
      max-width: 100%;
      width: 710px !important; }
      .rev .swiper2 .swiper-slide-prev .rev__text {
        margin-top: 45px; }
        .rev .swiper2 .swiper-slide-prev .rev__text p {
          webkit-line-clamp: initial;
          -webkit-box-orient: initial;
          overflow: hidden;
          font-size: 18px;
          line-height: 24px; }
      .rev .swiper2 .swiper-slide-prev .rev__top {
        display: flex;
        align-items: center; }
        .rev .swiper2 .swiper-slide-prev .rev__top img {
          margin-right: 30px;
          margin-bottom: 0;
          width: 118px;
          height: 118px;
          border-radius: 24px; }
  .rev__top img {
    object-fit: contain;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    margin-bottom: 20px; }
  .rev__content h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #191816;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
  .rev__content p {
    color: #7c8092;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; }
  .rev__text {
    width: 100%;
    margin-top: 30px; }
    .rev__text p {
      transition: 0.5s;
      color: #191816;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      display: -webkit-box; }
  .rev__wrap {
    position: relative; }
  .rev__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 56px;
    border-radius: 32px;
    position: absolute;
    top: 5px;
    background: #f4f5fa;
    right: 243px; }
    .rev__arrows div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      cursor: pointer;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      flex: 1 0 auto;
      max-width: 40px;
      background: white; }
      .rev__arrows div .svg path {
        stroke: #446fc9; }
      .rev__arrows div:hover {
        background: #446fc9; }
        .rev__arrows div:hover .svg path {
          stroke: white; }
      .rev__arrows div:first-child {
        margin-right: 8px; }

.per {
  padding: 75px 0;
  position: relative; }
  .per__wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
    background: #f4f5fa;
    padding: 42px 62px 40px 40px; }
  .per h2 {
    text-align: center;
    margin-bottom: 50px; }
  .per .tabs__btn {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    margin-right: 3px;
    border: 2px solid transparent; }
    .per .tabs__btn img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .per .tabs__btn_active {
    border: 2px solid #446fc9; }
  .per__row {
    margin-top: 26px;
    display: flex;
    align-items: flex-start; }
    .per__row img {
      object-fit: cover;
      overflow: hidden;
      width: 31%;
      height: 391px;
      border-radius: 32px;
      margin-right: 50px; }
  .per__content {
    width: 100%;
    max-width: 73.6%;
    margin-top: 15px; }
    .per__content h3 {
      margin-top: 0;
      margin-bottom: 20px;
      color: black;
      font-size: 24.58px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.39px; }
    .per__content p {
      color: rgba(0, 0, 0, 0.64);
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.06px;
      margin-bottom: 20px; }
      .per__content p:last-child {
        margin-bottom: 0; }
  .per .header__fig_1 {
    right: 64px;
    top: 251px; }
  .per .header__fig_3 {
    left: 0;
    top: 221px; }
  .per .header__fig_4 {
    left: 75px;
    top: 829px; }

.par {
  position: relative;
  padding: 75px 0 55px; }
  .par .rev__arrows {
    display: none; }
  .par .swiper3 {
    overflow: hidden; }
    .par .swiper3 .swiper-wrapper {
      flex-wrap: wrap; }
    .par .swiper3 .swiper-slide {
      height: 424px;
      margin-bottom: 20px;
      width: 32% !important; }
      .par .swiper3 .swiper-slide a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        border: 4px solid white;
        flex-direction: column;
        border-radius: 32px;
        text-align: center;
        padding: 63px 19px 30px;
        background: white;
        transition: 0.5s; }
        .par .swiper3 .swiper-slide a h3 {
          transition: 0.5s;
          margin-top: 0;
          color: black;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          text-align: center;
          display: block;
          margin: 0 auto 14px; }
        .par .swiper3 .swiper-slide a p {
          color: #7c8092;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          width: 100%;
          max-width: 282px;
          margin: 0 auto; }
        .par .swiper3 .swiper-slide a:hover {
          border: 4px solid #446fc9; }
          .par .swiper3 .swiper-slide a:hover h3 {
            text-decoration: underline;
            color: #446fc9; }
      .par .swiper3 .swiper-slide:nth-child(3n) {
        margin-right: 0 !important; }
  .par__top {
    display: flex;
    padding: 60px 57px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #8d25cc, #328ee3 116.25%); }
    .par__top h2 {
      color: white; }
  .par__wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 40px;
    border-radius: 32px;
    background: #f4f5fa; }
  .par__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 121px;
    margin: 0 auto 30px; }
    .par__logo img {
      max-width: 100%;
      object-fit: contain;
      max-height: 139px; }
  .par .header__fig_1 {
    right: -44px;
    top: 207px; }
  .par .header__fig_3 {
    top: 900px; }

.about {
  position: relative;
  padding: 75px 0; }
  .about__box {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    .about__box img {
      object-fit: cover;
      overflow: hidden;
      width: 49.35%;
      height: 648px;
      border-radius: 32px; }
  .about__content {
    width: 100%;
    max-width: 47.2%; }
    .about__content h2 {
      margin-bottom: 35px; }
    .about__content p {
      color: #191816;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 25px; }
      .about__content p:last-child {
        margin-bottom: 0; }
      .about__content p a {
        color: #191816; }
        .about__content p a:hover {
          color: #446fc9; }
  .about .header__fig_1 {
    left: initial;
    right: 86px;
    top: 136px; }
  .about .header__fig_2 {
    left: initial;
    right: 0;
    top: 470px; }
  .about .header__fig_3 {
    left: 34px;
    top: 74px; }
  .about .header__fig_4 {
    left: 0;
    top: 611px; }

.test {
  position: relative;
  padding: 75px 0; }
  .test h2 {
    margin-bottom: 50px;
    text-align: center; }
  .test__btn {
    width: 100%;
    position: relative;
    height: 104px;
    border-radius: 32px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 40px; }
    .test__btn .svg {
      position: absolute;
      top: 22px;
      right: 30px; }
    .test__btn:hover .svg .pp {
      fill: black; }
  .test__text {
    color: #446fc9;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px; }
  .test__links {
    justify-content: space-between; }
    .test__links a {
      width: 48%; }
      .test__links a:first-child {
        background: #4aaa42; }
        .test__links a:first-child:hover {
          background: black; }
  .test__row {
    justify-content: space-between; }
  .test__item {
    width: 24%;
    overflow: hidden;
    height: 486px;
    border-radius: 32px; }
    .test__item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .test .header__fig_1 {
    right: 82px;
    top: 633px; }

.footer {
  padding: 75px 0 30px; }
  .footer__top {
    align-items: center;
    justify-content: space-between; }
  .footer__logo {
    margin-right: 50px; }
  .footer__left {
    align-items: center; }
    .footer__left a {
      color: black;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      display: block;
      margin-right: 30px; }
      .footer__left a:hover {
        color: #446fc9; }
      .footer__left a:last-child {
        margin-right: 0; }
  .footer__center {
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #E1E1E9;
    border-bottom: 1px solid #E1E1E9; }
  .footer__flex {
    align-items: center;
    justify-content: space-between; }
    .footer__flex ul {
      display: flex;
      flex-wrap: wrap; }
      .footer__flex ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        height: 51px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 67px;
        transition: 0.5s;
        padding: 0 49px;
        width: max-content; }
        .footer__flex ul li:last-child {
          margin-right: 0; }
        .footer__flex ul li a {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          color: #191816;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px; }
        .footer__flex ul li:hover {
          background: #446fc9;
          border: 1px solid #446fc9; }
          .footer__flex ul li:hover a {
            color: white; }
  .footer__bottom {
    align-items: center;
    justify-content: space-between; }
  .footer__info {
    align-items: center; }
    .footer__info p {
      opacity: 0.5;
      color: #393939;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px; }
    .footer__info a {
      color: #393939;
      font-size: 16px;
      font-weight: 500;
      line-height: 33px;
      margin: 0 20px; }
      .footer__info a:hover {
        color: #446fc9; }

/*POPUP*/
.box-modal__close {
  position: absolute;
  transition: all 0.5s ease;
  z-index: 100;
  cursor: pointer;
  right: 50px;
  top: 100px; }
  .box-modal__close:hover {
    opacity: 0.8; }

.box-modal {
  position: relative; }

.popup-call__box {
  position: absolute;
  top: 20%;
  margin-top: -17%;
  width: 1439px;
  height: 686px;
  border-radius: 32px;
  left: 50%;
  margin-left: -720px;
  padding: 100px 0;
  background: white; }
  .popup-call__box .order__form {
    max-width: 610px; }
    .popup-call__box .order__form button {
      width: 250px;
      height: 58px;
      margin: 0 auto 18px; }
  .popup-call__box .order__flex input {
    width: 100%; }
  .popup-call__box .order__info {
    text-align: center; }

.arcticmodal-container_i {
  width: 100%;
  padding: 0; }

.arcticmodal-container_i2 {
  padding: 0; }

.arcticmodal-overlay, .arcticmodal-container {
  background: rgba(8, 21, 47, 0.6) !important; }

.popup__wrap {
  width: 710px;
  height: 486px;
  box-sizing: border-box;
  border-radius: 32px;
  margin: 0 auto;
  padding: 50px;
  background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #8D25CC, #328EE3) border-box;
  border: 4px solid transparent; }

.popup__title {
  color: #2c2c2c;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-bottom: 40px; }

#popup-thank .popup-call__box {
  width: 800px;
  margin-left: -400px;
  height: auto; }

#popup-thank .popup__wrap {
  height: auto; }
  #popup-thank .popup__wrap .popup__title {
    margin-bottom: 0; }

#popup-thank .box-modal__close {
  right: 20px;
  top: 20px; }

@media screen and (max-width: 1620px) {
  .rev .rev__arrows {
    right: 110px; }
  .container {
    padding: 0 80px; }
  .nav__mail, .nav__tel {
    font-size: 14px; }
  .nav__list li a {
    font-size: 14px; }
  .nav__list li {
    margin-right: 25px; }
  .header__wrap img {
    right: -79px;
    width: 58%; }
  .header__fig_1 {
    right: -35px; }
  .header__fig_2 {
    top: 655px; }
  .header__fig_3 {
    left: -21px; }
  .main .header__fig_2 {
    right: -50px; }
  .test .header__fig_1 {
    right: 32px; }
  .area .header__fig_3 {
    left: -40px; }
  .per .header__fig_3 {
    left: -44px; }
  .par .header__fig_1 {
    right: 0; }
  .about .header__fig_4 {
    left: -70px; }
  .about .header__fig_2 {
    right: -80px; }
  .van__item {
    background: white; }
  .test__text {
    font-size: 27px; }
  .par .swiper3 .swiper-slide a {
    padding-top: 40px; }
  .van__item ul {
    margin: 38px 45px 0 45px; }
  .main .swiper1 {
    width: 94%; } }

@media screen and (max-width: 1400px) {
  .nav__list li a {
    font-size: 14px; }
  .nav__list li {
    margin-right: 25px; }
  .nav__btn {
    font-size: 14px;
    width: 220px; }
  .nav__mail, .nav__tel {
    font-size: 14px; }
  .header__wrap img {
    right: -57px;
    width: 57%; }
  .test__text {
    font-size: 27px; }
  .van__item {
    background: white; }
  .van__item ul {
    margin: 38px 20px 0 28px; }
  .what__content {
    margin-right: 40px; }
  .rev__arrows {
    top: initial;
    bottom: -15px;
    left: 50%;
    margin-left: -52px; }
  .rev__wrap {
    padding-bottom: 50px; }
  .rev .swiper2 .swiper-slide-prev {
    width: 613px !important; }
  .par .swiper3 .swiper-slide a p {
    font-size: 14px; }
  .par .swiper3 .swiper-slide a h3 {
    font-size: 18px;
    line-height: 24px; }
  .about .header__fig_2 {
    right: -91px; } }

@media screen and (max-width: 1300px) {
  .container {
    padding: 0 15px; } }

@media screen and (max-width: 1199px) {
  .main .swiper1 {
    width: 100%; }
  .menu-btn, .menu {
    display: block; }
  .menu-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 26px;
    top: 25px;
    z-index: 11;
    overflow: hidden;
    background: url(../img/bur1.svg) no-repeat center center; }
    .menu-btn.active {
      background: url(../img/bur2.svg) no-repeat center center;
      position: fixed; }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px 40px 40px;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 10;
    overflow: hidden;
    text-align: right; }
    .menu.active {
      transform: translateX(0%); }
    .menu .nav__list, .menu .nav__socials, .menu .nav__mail, .menu .nav__tel, .menu .nav__btn {
      display: flex; }
    .menu .nav__list {
      flex-direction: column; }
      .menu .nav__list li {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: right; }
    .menu .nav__socials {
      margin-bottom: 40px;
      justify-content: flex-end; }
    .menu .nav__btn {
      width: 100%;
      margin-top: auto; }
  .nav__list, .nav__socials, .nav__mail, .nav__tel, .nav__btn {
    display: none; }
  .nav {
    position: relative;
    z-index: 555;
    padding: 30px 0; }
  .nav__mail, .nav__tel {
    margin-left: auto;
    margin-bottom: 30px;
    justify-content: flex-end; }
  .header__wrap {
    margin-top: 20px;
    padding: 30px 30px 0; }
  .header__wrap img {
    right: 0;
    width: 600px;
    position: relative;
    margin-right: 0;
    margin: 0 auto;
    display: block; }
  .header {
    padding-bottom: 40px; }
  .main, .test, .van, .what, .area, .rev, .per, .par {
    padding: 40px 0; }
  .main__video {
    height: 500px; }
  h2 {
    font-size: 45px; }
  .test__item {
    width: 32%; }
    .test__item:nth-child(n+4) {
      display: none; }
  .van__item ul li {
    line-height: 15.59px;
    align-items: flex-start;
    font-size: 14px; }
  .van__item ul li:before {
    top: 5px; }
  .van__top {
    font-size: 24px; }
  .van__item {
    height: 376px; }
  .what__content p {
    font-size: 18px; }
  .area__sum {
    font-size: 55px; }
  .area__text {
    font-size: 18px; }
  .header__fig {
    display: none; }
  .area h2 {
    margin-bottom: 60px; }
  .rev .swiper2 .swiper-slide-prev {
    width: 930px !important; }
  .rev .swiper2 .swiper-slide {
    max-width: inherit; }
  .swiper2 {
    overflow: hidden; }
    .swiper2 .swiper-slide {
      box-sizing: border-box;
      border: 4px solid #446fc9;
      border-radius: 32px;
      background: white;
      padding: 40px;
      max-width: 100%;
      width: 930px !important; }
      .swiper2 .swiper-slide .rev__text {
        margin-top: 45px; }
        .swiper2 .swiper-slide .rev__text p {
          webkit-line-clamp: initial;
          -webkit-box-orient: initial;
          overflow: hidden;
          font-size: 18px;
          line-height: 24px; }
      .swiper2 .swiper-slide .rev__top {
        display: flex;
        align-items: center; }
        .swiper2 .swiper-slide .rev__top img {
          margin-right: 30px;
          margin-bottom: 0;
          width: 118px;
          height: 118px;
          border-radius: 24px; }
  .rev__arrows {
    bottom: 0; }
  .rev__wrap {
    padding-bottom: 30px; }
  .per__row {
    flex-direction: column-reverse;
    align-items: center; }
  .per__row img {
    margin-right: 0;
    margin-top: 25px; }
  .per__content {
    max-width: 100%; }
  .par__top {
    padding: 25px; }
  .about__box {
    flex-direction: column; }
  .about__content {
    max-width: 100%;
    margin-bottom: 25px; }
  .footer__center {
    border: none; }
  .footer__flex ul {
    flex-direction: column; }
    .footer__flex ul li {
      margin-right: 0;
      margin-bottom: 10px; }
  .popup-call__box {
    top: 20%;
    margin-top: -39%;
    width: 100%;
    height: auto;
    left: 0;
    margin-left: 0; }
  .box-modal__close {
    right: 30px;
    top: 74px; }
  #popup-thank .popup-call__box {
    width: 100%;
    margin-left: 0; }
  .popup__wrap {
    width: 100%;
    background: inherit;
    padding: 0;
    height: auto; }
  .box-modal__close {
    top: 20px; }
  .footer .nav__socials {
    display: flex; }
  .par .swiper3 .swiper-slide {
    height: 424px;
    margin-bottom: 20px;
    width: 31.75% !important; } }

@media (max-width: 991px) {
  input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  h2 {
    font-size: 39px;
    line-height: 120%; }
  .test__item:nth-child(n+3) {
    display: none; }
  .test__item {
    width: 48%;
    height: 400px; }
  .van h2 {
    margin-bottom: 22px; }
  .van__box {
    flex-direction: column; }
  .van__item {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 40px; }
  .van__top {
    padding: 17px 0;
    font-size: 21px; }
  .order__wrap {
    margin: 67px auto;
    flex-direction: column;
    text-align: center; }
  .order__content {
    max-width: 100%; }
  .order__content p {
    margin-top: 20px;
    margin-bottom: 30px; }
  .order__form {
    max-width: 100%; }
  .order__form button {
    width: 100%; }
  .what__wrap {
    flex-direction: column;
    align-items: center; }
  .what__content {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px; }
  .area__row {
    flex-direction: column; }
  .area__item {
    width: 100%;
    margin-bottom: 60px; }
    .area__item:last-child {
      margin-bottom: 0; }
  .area__sum {
    padding-bottom: 30px; }
  .area__text {
    margin-top: 16px; }
  .rev .swiper2 .swiper-slide {
    width: 690px !important;
    background: white; }
  .swiper2 .swiper-slide .rev__text {
    margin-top: 20px; }
  .rev h2 {
    text-align: center;
    margin-bottom: 30px; }
  .rev__arrows {
    z-index: 5; }
  .per h2 {
    margin-bottom: 20px; }
  .per__row img {
    width: 80%;
    border-radius: 32px;
    height: 600px; }
  .par .swiper3 .swiper-slide a {
    padding-top: 50px; }
  .about__content h2 {
    margin-bottom: 20px; }
  .about__content p {
    font-size: 18px; }
  .about__box img {
    height: auto; }
  .footer__center {
    padding: 10px 0; }
  .footer__bottom, .footer__info {
    align-items: flex-start;
    flex-direction: column; }
  .footer__info a {
    margin: 15px 0; }
  .footer__info {
    margin-bottom: 34px; }
  .popup-call__box {
    padding: 40px; }
  .test__btn {
    font-size: 21px;
    height: 80px;
    border-radius: 20px; }
  .popup-call__box .order__form {
    margin: 0 auto; }
  .par .rev__arrows {
    display: flex;
    bottom: -20px; }
  .par .swiper3 .swiper-wrapper {
    flex-wrap: initial; }
    .par .swiper3 .swiper-wrapper .swiper-slide {
      margin-right: 15px !important;
      width: 48.75% !important; } }

@media screen and (max-width: 767px) {
  .header__wrap h1 {
    width: 100%;
    padding: 0; }
  .header__wrap img {
    width: 100%; }
  .test__btn {
    font-size: 14px;
    height: 42px;
    border-radius: 0px; }
  .test__btn .svg {
    top: 0;
    right: 20px;
    width: 62px;
    height: 42px; }
  .order__wrap {
    margin: 44px auto; }
  .what__wrap img {
    width: 100%;
    height: auto; }
  .rev .swiper2 .swiper-slide {
    width: 510px !important; }
  .per__row img {
    height: auto;
    width: 100%; }
  .par__top img {
    width: 65px; }
  .par__top h2 {
    font-size: 25px;
    line-height: 25px; }
  .par__wrap {
    padding: 30px 20px; }
  .par .swiper3 .swiper-slide {
    height: auto; }
  .about__box img {
    width: 100%; }
  .footer__flex {
    flex-direction: column;
    align-items: flex-start; }
  .footer__flex ul {
    padding-bottom: 30px; }
  .footer {
    position: relative; }
  .footer__left a {
    position: absolute;
    bottom: 286px;
    left: 42px; }
    .footer__left a:nth-child(2) {
      bottom: 245px; }
  .footer__info {
    padding-top: 80px; }
  .par .swiper3 .swiper-wrapper .swiper-slide {
    width: 100% !important;
    margin-bottom: 0; } }

@media screen and (max-width: 576px) {
  button:active, button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }
  a:active, a:focus {
    outline: none; }
  input, textarea {
    outline: none; }
  input:active, textarea:active {
    outline: none; }
  input:focusout {
    outline: none; }
  .nav__logo {
    width: 124px; }
  .menu-btn {
    right: 20px;
    top: 17px; }
  .menu {
    padding: 120px 25px 40px; }
  .header__wrap h1 {
    font-size: 15px;
    margin-bottom: 20px; }
  .header__wrap {
    padding: 30px 20px 0;
    margin-top: -2px; }
  .header__text {
    font-size: 16px;
    margin-bottom: 19px;
    line-height: 26px; }
  .header__wrap ul li {
    font-size: 14px;
    line-height: 26px; }
  .header__btn {
    width: 100%;
    margin-top: 18px; }
  .btn {
    font-size: 14px; }
  .header__wrap img {
    width: 400px;
    right: 97px; }
  .header {
    padding-bottom: 10px; }
  .main__video {
    height: 222px; }
  .main .swiper1 .swiper-slide a {
    font-size: 14px; }
  .main, .test, .van, .what, .area, .rev, .per, .par {
    padding: 25px 0; }
  h2 {
    font-size: 25px;
    line-height: 25px; }
  .test h2 {
    margin-bottom: 30px; }
  .test__btn {
    height: 66px;
    margin-bottom: 20px;
    padding: 0 20px; }
  .test__btn .svg {
    top: 13px;
    right: 15px; }
  .test__text {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 20px; }
  .test__item:nth-child(n+2) {
    display: none; }
  .test__item {
    width: 100%;
    height: auto; }
  .van__top {
    padding: 12px 0;
    font-size: 16px; }
  .van__item {
    padding-bottom: 30px; }
  .van__item ul {
    margin: 20px 20px 0 28px; }
  .order__wrap {
    padding: 30px 20px; }
  .order__content p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px; }
    .order__content p br {
      display: none; }
  .order__form input {
    width: 100%;
    font-size: 14px; }
  .order__form button {
    margin-top: 0; }
  .what__wrap {
    padding: 30px 20px; }
  .what__content p {
    font-size: 14px;
    line-height: 26px;
    margin: 20px 0; }
  .what__btn {
    width: 100%; }
  .area__text {
    font-size: 14px; }
  .rev .swiper2 .swiper-slide {
    width: 100% !important;
    padding: 24px; }
  .swiper2 .swiper-slide .rev__top {
    flex-direction: column;
    align-items: flex-start; }
  .swiper2 .swiper-slide .rev__top img {
    width: 56px !important;
    height: 56px !important;
    margin-right: 0;
    margin-bottom: 16px !important; }
  .rev__content h3 {
    font-size: 16px !important;
    line-height: 19px !important; }
  .rev__content p {
    font-size: 12px !important;
    line-height: 17px !important; }
  .swiper2 .swiper-slide .rev__text p {
    font-size: 14px !important;
    line-height: 19px !important; }
  .per__wrap {
    padding: 30px 20px; }
  .per .tabs__btn {
    width: 80px;
    height: 80px; }
  .per__row {
    margin-top: 20px; }
  .per__content h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px; }
  .per__content p {
    font-size: 14px;
    line-height: 26px; }
  .par__top h2 {
    text-align: center; }
  .par__top img {
    width: 50px; }
  .par__top {
    padding: 25px 20px;
    margin-bottom: 30px; }
  .par .swiper3 .swiper-slide a h3 {
    font-size: 18px;
    line-height: 24px; }
  .par .swiper3 .swiper-slide a p {
    line-height: 19px; }
  .par .swiper3 .swiper-slide a {
    border-radius: 27px;
    border: 4px solid #446fc9;
    padding-top: 25px; }
  .par .rev__arrows {
    bottom: 0px; }
  .par {
    padding-bottom: 80px; }
  .about__content p {
    font-size: 14px;
    line-height: 26px; }
  .about {
    padding: 70px 0 30px; }
  .footer {
    padding: 50px 0 30px; }
  .footer__logo {
    margin-right: 0;
    width: 124px; }
  .footer__flex ul li {
    height: 40px; }
    .footer__flex ul li a {
      font-size: 14px; }
  .footer__center {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .footer__info a, .footer__info p {
    font-size: 14px; }
  .footer .nav__socials {
    position: absolute;
    top: 316px;
    left: 15px; }
  .footer__left a {
    bottom: initial;
    top: 372px;
    left: 20px; }
  .footer__left a:nth-child(2) {
    top: 415px; }
  .footer__left a:nth-child(2) {
    bottom: initial; }
  .footer__flex ul {
    padding-bottom: 176px; }
  .footer__btn {
    width: 100%; }
  .footer__info {
    padding-top: 0; }
  .rev .swiper2 .swiper-slide-prev .rev__text p {
    font-size: 14px;
    line-height: 19px; }
  .swiper2 .swiper-slide .rev__text p {
    -webkit-line-clamp: 7 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: block !important;
    display: -webkit-box !important; }
  .rev .swiper2 {
    min-height: inherit; }
    .rev .swiper2 .swiper-slide {
      height: max-content; }
  .rev__arrows {
    bottom: -33px; }
  .rev {
    padding-bottom: 60px; }
  .popup__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    text-align: left; }
  .popup-call__box {
    padding: 30px 20px; }
  .popup-call__box .order__form button {
    width: 100%; }
  .box-modal__close {
    width: 33px;
    height: 33px;
    top: 25px; }
    .box-modal__close img {
      width: 100%; }
  .popup-call__box {
    margin-top: -55%; }
  #popup-thank .popup-call__box {
    padding: 80px 20px 40px;
    text-align: center; }
  .test__links {
    flex-direction: column; }
    .test__links a {
      width: 100%;
      margin-bottom: 15px;
      font-size: 16px; }
  #popup-thank .popup__wrap .popup__title {
    text-align: center; } }

@media screen and (max-width: 450px) and (min-width: 400px) {
  .header__wrap img {
    width: 400px;
    right: 48px; }
  .order__wrap {
    margin: 66px auto; } }

@media screen and (max-width: 380px) and (min-width: 350px) {
  .header__wrap img {
    width: 400px;
    right: 81px; } }
